
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button> 
<button mat-button Basic>Disabled</button>





<mat-toolbar>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

   <mat-icon>menu</mat-icon>

 </button>

  <span>My Application</span>

 <span class="example-spacer"></span>

 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

   <mat-icon>favorite</mat-icon>

 </button>

 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

  <mat-icon>share</mat-icon>

</button>

</mat-toolbar>



<mat-sidenav-container class="example-container" >

  <mat-sidenav mode="side" opened>

   <mat-nav-list style="width: 250px;">

    <a routerLink="home" mat-list-item> <mat-icon>account_balance </mat-icon> Home </a >
    <a routerLink="gallery" mat-list-item> <mat-icon>file_copy </mat-icon>  Files</a>
    <a routerLink="settings" mat-list-item> <mat-icon>settings</mat-icon> Settings </a>

    

    </mat-nav-list>  

  </mat-sidenav>

  <mat-sidenav-content><p style="height:82vh">

    <router-outlet>

    </router-outlet>



  </p></mat-sidenav-content>

</mat-sidenav-container>