     <h1>  WELCOME </h1> 

          <button mat-button color="primary">LOGIN</button>
          <button mat-button color="primary">SIGNUP</button>

          <button mat-button color="primary">Forgot your password</button>


